In [2]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("vivino.db")
cursor = conn.cursor()

## Question 1: Which 10 wines would you lik eto increase sales

In [3]:
# We want to highlight 10 wines to increase our sales. Which ones should we choose and why?
# FOR VINTAGE WINES: HIGH PRIC
cursor.execute('''SELECT DISTINCT vintages.name, vintages.ratings_average, vintages.ratings_count, vintages.price_euros 
               FROM vintages 
               WHERE vintages.ratings_count > 500
               ORDER BY  vintages.price_euros DESC, vintages.ratings_average DESC,vintages.ratings_count DESC
               LIMIT 10;''')
data = cursor.fetchall()
cols = ['vintage_name', 'rating_average', 'rating_count', 'price_vintage']
df1 = pd.DataFrame(data, columns=cols)
df1['revenue_vintages'] = df1['rating_count'] * df1['price_vintage']
df1

,vintage_name,rating_average,rating_count,price_vintage,revenue_vintages
0,Pétrus Pomerol 1982,4.7,1361,9180.00,12493980.00
1,Pétrus Pomerol 1990,4.8,1190,6300.00,7497000.00
2,Château Lafite Rothschild Pauillac (Premier Gr...,4.7,1273,5977.50,7609357.50
3,Masseto Toscana 2001,4.8,651,5231.25,3405543.75
4,Masseto Toscana 2006,4.8,797,4910.00,3913270.00
5,Masseto Toscana 2005,4.8,762,4697.50,3579495.00
6,Masseto Toscana 2010,4.7,1054,4697.50,4951165.00
7,Pétrus Pomerol 1979,4.7,883,4410.00,3894030.00
8,Masseto Toscana 2004,4.7,767,4163.75,3193596.25
9,Masseto Toscana 2008,4.7,764,4163.75,3181105.00

In [4]:
cursor.execute('''SELECT DISTINCT vintages.name, vintages.ratings_average, vintages.ratings_count, vintages.price_euros 
               FROM vintages 
               WHERE vintages.ratings_count > 500
               ORDER BY vintages.ratings_count DESC, vintages.ratings_average DESC
               LIMIT 10;''')
data = cursor.fetchall()
cols = ['vintage_name', 'rating_average', 'rating_count', 'price_vintage']
df2 = pd.DataFrame(data, columns=cols)
df2['revenue_vintages'] = df2['rating_count'] * df2['price_vintage']
df2

,vintage_name,rating_average,rating_count,price_vintage,revenue_vintages
0,Laurent-Perrier Brut Cuvée Champagne Rosé,4.4,36681,72.00,2641032.00
1,Krug Grande Cuvée,4.6,28513,245.00,6985685.00
2,Billecart-Salmon Brut Rosé Champagne,4.4,23241,81.50,1894141.50
3,Ruinart Brut Rosé Champagne,4.4,21147,49.61,1049102.67
4,Dom Pérignon Brut Champagne 2006,4.6,21121,440.00,9293240.00
5,San Marzano 60 Sessantanni Old Vines Primitivo...,4.5,17090,63.95,1092905.50
6,Opus One Overture,4.5,16804,180.00,3024720.00
7,Caymus Cabernet Sauvignon 2019,4.6,15647,177.95,2784383.65
8,Dom Pérignon Brut Champagne 2004,4.6,14650,460.00,6739000.00
9,Antinori Tignanello 2016,4.6,13709,420.00,5757780.00

### These vintages give us the most Revenue for highly rated wines

In [5]:
merged_df = pd.concat([df1,df2]) 
sorted_df = merged_df.sort_values(by='revenue_vintages', ascending=False)
sorted_df.head(10)

,vintage_name,rating_average,rating_count,price_vintage,revenue_vintages
0,Pétrus Pomerol 1982,4.7,1361,9180.0,12493980.0
4,Dom Pérignon Brut Champagne 2006,4.6,21121,440.0,9293240.0
2,Château Lafite Rothschild Pauillac (Premier Gr...,4.7,1273,5977.5,7609357.5
1,Pétrus Pomerol 1990,4.8,1190,6300.0,7497000.0
1,Krug Grande Cuvée,4.6,28513,245.0,6985685.0
8,Dom Pérignon Brut Champagne 2004,4.6,14650,460.0,6739000.0
9,Antinori Tignanello 2016,4.6,13709,420.0,5757780.0
6,Masseto Toscana 2010,4.7,1054,4697.5,4951165.0
4,Masseto Toscana 2006,4.8,797,4910.0,3913270.0
7,Pétrus Pomerol 1979,4.7,883,4410.0,3894030.0

## Question 2: What country should we focus on?

#### FOCUS ON FRANCE:given the highest revnue per country

In [9]:
cursor.execute('''SELECT DISTINCT countries.name, vintages.name, vintages.ratings_average, vintages.ratings_count, vintages.price_euros 
               FROM wines
               JOIN vintages ON wine_id == wines.id
               JOIN regions ON region_id == regions.id
               JOIN countries ON regions.country_code == countries.code 
               WHERE vintages.ratings_count > 500
               ORDER BY  vintages.price_euros DESC, vintages.ratings_average DESC,vintages.ratings_count DESC
               LIMIT 10;''')
data = cursor.fetchall()
cols = ['country', 'vintage_name', 'rating_average', 'rating_count', 'price_vintage']
df3 = pd.DataFrame(data, columns=cols)
df3['revenue_vintages'] = df3['rating_count'] * df3['price_vintage']
df3

,country,vintage_name,rating_average,rating_count,price_vintage,revenue_vintages
0,France,Pétrus Pomerol 1982,4.7,1361,9180.00,12493980.00
1,France,Pétrus Pomerol 1990,4.8,1190,6300.00,7497000.00
2,France,Château Lafite Rothschild Pauillac (Premier Gr...,4.7,1273,5977.50,7609357.50
3,Italie,Masseto Toscana 2001,4.8,651,5231.25,3405543.75
4,Italie,Masseto Toscana 2006,4.8,797,4910.00,3913270.00
5,Italie,Masseto Toscana 2005,4.8,762,4697.50,3579495.00
6,Italie,Masseto Toscana 2010,4.7,1054,4697.50,4951165.00
7,France,Pétrus Pomerol 1979,4.7,883,4410.00,3894030.00
8,Italie,Masseto Toscana 2004,4.7,767,4163.75,3193596.25
9,Italie,Masseto Toscana 2008,4.7,764,4163.75,3181105.00

### Question 4 - 5: specific combination of tastes

In [50]:
test = '''  
SELECT 
    wines.name,
    vintages.name,
    GROUP_CONCAT(DISTINCT keywords.name) AS mixed_tastes,
    COUNT(keywords.name) AS number_mixed,
    keywords_wine.group_name
FROM 
    vintage_toplists_rankings
JOIN vintages ON vintage_toplists_rankings.vintage_id = vintages.id
JOIN wines ON vintages.wine_id = wines.id
JOIN regions ON wines.region_id = regions.id
JOIN countries ON regions.country_code = countries.code
JOIN keywords_wine ON wines.id = keywords_wine.wine_id
JOIN keywords ON keywords_wine.keyword_id = keywords.id
WHERE keywords.name IN ('coffee', 'toast', 'green apple', 'cream', 'citrus')
AND keywords_wine.count > 9
GROUP BY vintages.name
ORDER BY number_mixed DESC, price_euros DESC;
'''
cursor.execute(test)
data = cursor.fetchall()
df_3 = pd.DataFrame(data)
df_3

,0,1,2,3,4
0,Le Mesnil Blanc de Blancs (Cuvée S) Brut Champ...,Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut...,"citrus,coffee,cream,green apple,toast",28,citrus_fruit
1,Tenuta Tignanello 'Solaia',Antinori Tenuta Tignanello 'Solaia' 2009,"coffee,cream,toast",15,non_oak
2,60 Sessantanni Old Vines Primitivo di Manduria,San Marzano 60 Sessantanni Old Vines Primitivo...,"coffee,cream,toast",15,non_oak
3,Tinto,Pago de Carraovejas Tinto 2020,"coffee,cream,toast",15,non_oak
4,60 Sessantanni Old Vines Primitivo di Manduria,San Marzano 60 Sessantanni Old Vines Primitivo...,"coffee,cream,toast",15,non_oak
...,...,...,...,...,...
98,Kairos,Zýmē Kairos 2009,coffee,2,non_oak
99,Kairos,Zýmē Kairos 2012,coffee,2,non_oak
100,Bramare Malbec Uco Valley,Viña Cobos Bramare Malbec Uco Valley 2019,coffee,2,non_oak
101,Series M,Vilafonté Series M 2014,coffee,2,non_oak
102,Cream Tradición Vos 20 Years,Bodegas Tradición Cream Tradición Vos 20 Years,cream,1,microbio